<div class="container">
  <div class="row">
    <div class="twelve columns">
      <h1 class="center">Ember Component Playground</h1>
      {{component-playground
        code="<button>Button</button>"
      }}
    </div>
  </div>
</div>
